@font-face {
  font-family: EBgaramond;
  src: url('../src/assets/fonts/EBGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'America';
  src: url('../src/assets/fonts/GT-America-Standard-Regular-Trial.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-garamond : EBgaramond ,"sans-serif" ;
}
* {
  font-family: America ,sans-serif;
}
.product-swiper .swiper-pagination {
  bottom: 12px !important;
  z-index: 10;
}

.product-swiper .swiper-pagination-bullet {
  background: #e0e0e0 !important;
  opacity: 0.6 !important;
  width: 23px !important;
  height: 2px !important;
  border-radius: 2px !important;
  margin: 0 2px !important;
}

.product-swiper .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: black !important;
}

.product-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-swiper .swiper-button-next,
.product-swiper .swiper-button-prev {
  display: none !important;
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.product-description {
  font-family: sans-serif;
  color: #222;
  line-height: 1.6;
}


.product-description h1,
.product-description h2,
.product-description h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}


.product-description p {
  margin-bottom: 1rem;
}


.product-description ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.product-description li {
  margin-bottom: 0.5rem;
}


.product-description hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .product-description ul,
  .product-description ol {
    padding-left: 1.5rem; 
  }

  .product-description li {
    white-space: normal; 
    line-height: 1.6; 
  }
}
